.register-child {
  width: 715px;
  height: 1024px;
  position: relative;
  display: none;
  max-width: 100%;
}
.frame-icon {
  height: 165px;
  width: 187px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  mix-blend-mode: linear-burn;
  z-index: 3;
}
.frame-container {
  width: 311px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-6xs) 0;
  box-sizing: border-box;
}
.frame-child1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-61xl);
  background-color: var(--color-gainsboro-200);
  mix-blend-mode: multiply;
}
.e-mail {
  width: 115px;
  position: relative;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.rectangle-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-14xl) var(--padding-9xl) var(--padding-mini);
  position: relative;
}
.frame-child2 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-61xl);
  background-color: var(--color-gainsboro-200);
  mix-blend-mode: multiply;
}
.password1 {
  position: relative;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.group-div {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 37px var(--padding-9xl) var(--padding-2xs);
  position: relative;
}
.rectangle-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-61xl);
  background-color: var(--color-gainsboro-200);
  mix-blend-mode: multiply;
  z-index: 3;
}
.confirm-password {
  position: relative;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  z-index: 4;
}
.frame-div,
.rectangle,
.rectangle-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle {
  flex: 1;
  padding: var(--padding-14xl) 27px 23px;
  position: relative;
  white-space: nowrap;
}
.frame-div,
.rectangle-wrapper {
  align-self: stretch;
  padding: 0 0 0 var(--padding-12xs);
}
.frame-div {
  flex-direction: column;
  padding: 0 0 var(--padding-4xs);
  gap: var(--gap-xl);
}
.group {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-61xl);
  background-color: var(--color-gainsboro-200);
  mix-blend-mode: multiply;
}
.register1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-13xl);
  font-family: var(--font-itim);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.group-parent,
.register-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.group-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) 0 var(--padding-smi) 32px;
  background-color: transparent;
  width: 161px;
  justify-content: flex-end;
  box-sizing: border-box;
  position: relative;
  z-index: 3;
}
.register-inner {
  align-self: stretch;
  justify-content: center;
}
.or {
  height: 47px;
  width: 49px;
  position: relative;
  font-size: var(--font-size-13xl);
  font-family: var(--font-itim);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.text1 {
  width: 397px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.social-icon-facebook {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.google {
  width: 66px;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 125%;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: none;
}
.button-with-centered-icon,
.social-icon-facebook-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-icon-facebook-parent {
  gap: var(--gap-xs);
}
.button-with-centered-icon {
  border-radius: var(--br-61xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  padding: var(--padding-16xl-5) var(--padding-34xl);
  z-index: 3;
}
.social-icon-google {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.google1 {
  width: 66px;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 125%;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: none;
}
.social-icon-google-parent {
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.button-with-centered-icon1,
.button-with-icon,
.social-icon-google-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button-with-centered-icon1 {
  cursor: pointer;
  border: 1px solid var(--color-gainsboro-100);
  padding: var(--padding-16xl-5) var(--padding-34xl);
  background-color: var(--color-white);
  border-radius: var(--br-61xl);
  justify-content: flex-start;
}
.button-with-icon {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.register,
.text,
.text-parent {
  display: flex;
  justify-content: flex-start;
}
.text-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
  max-width: 100%;
}
.register,
.text {
  box-sizing: border-box;
}
.text {
  width: 456px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-2xl);
  max-width: 100%;
}
.register {
  margin: 0;
  width: 100%;
  position: relative;
  background-color: var(--color-beige);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-121xl) 467px 83px 488px;
  gap: 36px;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .e-mail,
  .or,
  .password1,
  .register1 {
    font-size: var(--font-size-7xl);
  }
  .register {
    gap: 18px 36px;
    padding-left: 244px;
    padding-right: 233px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .e-mail,
  .or,
  .password1,
  .register1 {
    font-size: var(--font-size-lgi);
  }
  .button-with-icon {
    flex-wrap: wrap;
    justify-content: center;
  }
  .register {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
